ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
}


.signin-btns{
    margin-top: 25px;
    text-align: center;
    color:aqua;
}



.border{
  border: 2px solid #007bff; /* Establece un borde sólido de 2 píxeles con un color azul (#007bff) */
  border-radius: 15px;
}