<ion-header [translucent]="true">
  
</ion-header>
<ion-content [fullscreen]="true">
  <h1 class="text-tag">Hola,Bienvenido</h1>
  <ion-card-content>
      <div>
        <p>Email</p>
        <ion-item class="border">
          <ion-input type = "text" placeholder="Ingresa tu Email" [(ngModel)]="user.usuario"></ion-input>
        </ion-item>
        <p>Contraseña</p>
        <ion-item class="border">
          <ion-input type = "password" placeholder="Ingrese su Contraseña" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </div>
      <div>
          <ion-button style="text-align: center;" fill="clear" (click)="PagOlv()">¿Olvido su Contraseña?</ion-button>
      </div>
      <div class="signin-btns">
        <ion-button fill="solid" shape="round" class="loginbtn" (click)="Login(user)">Login</ion-button>
      </div>
      <div class="text-tag">
        <span>_______________________</span>
      </div>
      <div class="social-btns">
        <ion-button fill="clear" class="googlebtn ion-no-padding">
              <ion-img src="assets/img/google.png" alt=""></ion-img>
        </ion-button> 
        <ion-button fill="clear" class="facebookbtn ion-no-padding">
            <ion-img src="assets/img/facebook.png" alt=""></ion-img>
        </ion-button> 
      </div>
      <p style="text-align: center;">¿Aun no tiene cuenta?<a (click)="Registr()">Registrarse</a></p>
  </ion-card-content>
  
</ion-content>