<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <h1 id="text">Hola,</h1>
  <h2 id="text">Bienvenido</h2>
  
  <ion-label id="text" >Email</ion-label>
  <ion-item id="ion-item">
    <ion-input type = "text" placeholder="Ingresa tu Email" [(ngModel)]="user.usuario"></ion-input>
  </ion-item>
  <ion-label id="text" position="floating">Clave</ion-label>
  <ion-item id="ion-item">
    <ion-input type = "password" placeholder="Ingrese su clave" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <a href="/recuperar-contrasena" style="color: rgb(221, 146, 8)">¿olvide mi contraseña? </a>
  </ion-item>
  <ion-item>
    <ion-button  id="botton" (click)="ingresar()">Ingresar</ion-button>
  </ion-item>
</ion-content>
