<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Login Alumno</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="" style="color: rgb(0, 0, 0);"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <form (ngSubmit)="Login(userlogin)">
      <div>
        <p>Usuario</p>
        <ion-item class="border">
          <ion-input class="animated-title" [(ngModel)]="user.email" placeholder="usuario@duocuc.cl" type="email"
            name="email" required></ion-input>
        </ion-item>
        <p>Contraseña</p>
        <ion-item class="border">
          <ion-input class="animated-title" [(ngModel)]="user.password" type="password" name="password"
            required></ion-input>
        </ion-item>
      </div>
      <div>
        <a style="text-align: center;margin: 0;padding: 100" (click)="PagOlv()">¿Olvido su Contraseña?</a>
      </div>
      <div class="signin-btn">
        <ion-button fill="solid" shape="round" class="animated-title loginbtn"
          (click)="Login(user)">INGRESAR</ion-button>
      </div>
      <div class="signin-btn">
        <ion-button fill="solid" shape="round" class="animated-title loginbtn"
          (click)="Registr()">REGISTRAR</ion-button>
      </div>
      <div style="text-align: center;margin-top: 70px;">
        <img src="assets/img/LOGO.png" width="200" height="200" alt="Logo Interens">
        <p>Interens</p>
      </div>
    </form>
  </ion-card-content>
</ion-content>