ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-header{
    position: absolute;
}

.signin-btns{
    margin-top: 25px;
    text-align: center;
    color:aqua;
}


.Registrartebtn{
   --ion-color-primary: #215ab7;
}

.text-tag{
    margin-top: 35px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        color: rgb(133, 132, 132);
    }
}

ion-item{
    ion-input{
        color:#5b5c5c;
    }
}

.border{
  border: 2px solid #007bff; /* Establece un borde sólido de 2 píxeles con un color azul (#007bff) */
  border-radius: 15px;
}

