<ion-header class="ion-no-border">
  <ion-toolbar> 
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <h1>Registrarte</h1>
    <div>
      <p>Email</p>
      <ion-item class="border">
        <ion-input type = "text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <p>Nombre Completo</p>
      <ion-item class="border">
        <ion-input type = "text" placeholder="Nombre Completo" [(ngModel)]="user.nombre"></ion-input>
      </ion-item>
      <p>Telefono</p>
      <ion-item class="border">
        <ion-input type = "text" placeholder="Telefono" [(ngModel)]="user.telefono"></ion-input>
      </ion-item>
      <p>Contraseña</p>
      <ion-item class="border">
        <ion-input type = "password" placeholder="Contraseña" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </div>

    <div class="signin-btns">
      <ion-button fill="solid" shape="round" class="Registrartebtn" (click)="validarRegistro(user)">Registrarte</ion-button>
    </div>

  </ion-card-content>
  
</ion-content>
