* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }

ion-label{
    color: black;
}

ion-card-title{
    color: black;
}

ion-card-subtitle{
    color: black;
}

ion-button{
    color: white;
    --background: rgb(95, 103, 212);
}