<ion-header style="background-color: white;box-shadow: none;">
  <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 10px;">
    <ion-button fill="clear" class="google-btn ion-no-padding">
      <div style="display: flex; align-items: center;margin-left: 80px;">
        <ion-img src="assets/img/recycle-symbol.png" alt="" style="margin-right: 10px;"></ion-img>
        <h2 style="color: rgb(66, 167, 8); font-weight: bold;">InterEns</h2>
      </div>
    </ion-button>
    <ion-buttons slot="end">
      <ion-back-button (click)="login()" text="" style="color: rgb(0, 0, 0); transform: rotate(180deg);"></ion-back-button>
    </ion-buttons>
  </div>
</ion-header>
<ion-content >

    <img src="assets/img/ok.png" alt="" style="width: 300px;align-items: center;display: flex;">
    <h1>¿Quieres ser voluntario?</h1>
    <p>Te invitamos a ser voluntario en nuestra innovadora 
      app de reciclaje Conviertete en un agente de cambio al promover 
      practicas de reciclaje,educar a la comunidad y contribuir a la reduccion de residuos
    </p>
    <div class="signin-btns">
      <ion-button style="--background: #4643fa!important;color: white;"  fill="solid" shape="round">
        Quiero Participar
      </ion-button>
    </div>
  
</ion-content>
