<ion-header>
  <ion-toolbar>
    <ion-title>Perfil del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-thumbnail slot="start">
        <img [src]="producto.imagenSrc" alt="{{ producto.nombre }}" />

      </ion-thumbnail>
      <p><strong>ID:</strong> {{ producto.id }}</p>
      <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
      <p><strong>Precio:</strong> {{ producto.precio | currency:'USD':true }}</p>
      <p><strong>Stock:</strong> {{ producto.stock }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
