<ion-header [translucent]="true" class="mi-pagina">


</ion-header>


<ion-content class="fondohome" > 
  <ion-img style=" margin-left: 40%;margin-top: 120%;display: flex;
  align-items: center;
  justify-content: center;" src="assets/img/recycle-symbol-64px.png" alt="">
  </ion-img>
  <div class="signin-btns">      
    <h1>InterEns</h1>  
    <ion-button style="--background: #100cf5!important;color: white;"  fill="solid" shape="round" (click)="sg()">
      Comenzar
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>