* {
  --background: #ffffff; /* Cambia el color de fondo aquí */
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.social-btns{
  margin-top:25px;
  margin-bottom:25px;
  text-align: center;
  ion-button{
      width: 110px;
      padding-left: 0px !important;
  }
}
//
.imge{
  width:360px;
}

h1{
  color:black;
}

p{
  color: black;
}

.boton-circular {
  width: 80px; /* Ajusta el ancho según tus necesidades */
  height: 80px; /* Ajusta la altura según tus necesidades */
  justify-content: center;
  align-items: center;
  --background: rgb(226, 226, 230);  /* Color de fondo del botón */
  margin-left: 30px;
  margin-right: 60px;
  
}



.icono-imagen-derecho {
  width: 25px; /* Ajusta el ancho según tus necesidades */
  height: 25px; /* Ajusta la altura según tus necesidades */
  background: url('../../assets/img/magnifier.png') center/cover no-repeat; /* Ruta a tu imagen */
  border-radius: 50%; /* Hace que el contenedor sea circular */
}

.icono-imagen-izquierdo {
  width: 25px; /* Ajusta el ancho según tus necesidades */
  height: 25px; /* Ajusta la altura según tus necesidades */
  
  background: url('../../assets/img/up-arrow.png') center/cover no-repeat; /* Ruta a tu imagen */
  border-radius: 50%; /* Hace que el contenedor sea circular */
}

