<ion-content>
  <div>
      <ion-img class="imge" src="assets/img/old3.png"></ion-img>
  </div>
  <ion-card-content>
    <div class="social-btns">
      <ion-img style="width: 140px;margin-left: 100px;" src="assets/img/inter.png" alt=""></ion-img>
      <h1>¿Qué hacemos hoy?</h1>
      <p style="color: rgb(15, 74, 202);font-weight: bold;">Encuentra, publica y conecta.</p>
      <p>Descubre objetos cerca de ti para una segunda vida</p>
    </div>
    <div class="signin-btns" style="display: flex;">
      <ion-button class="boton-circular" shape="round" >
        <div class="icono-imagen-izquierdo"></div>
      </ion-button>
      <ion-button class="boton-circular" shape="round" expand="full" (click)="goToProductosPage()">
        <div class="icono-imagen-derecho"></div>
      </ion-button>
    </div>
  </ion-card-content>
</ion-content>
